<div class="usa-grid">
  <h2>Edit Profile</h2>

  <%= form_for(resource, as: resource_name, url: user_path(resource), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>

    <fieldset>
      <legend>Date of birth</legend>
      <span class="usa-form-hint usa-datefield-hint">For example: 04 28 1986</span>

      <div class="usa-date-of-birth">
        <% %w( month day year ).each do |birth_desc| %>
          <div class="usa-datefield usa-form-group usa-form-group-<%= birth_desc %>">
            <%= f.label "birth_#{birth_desc}", birth_desc.capitalize %>
            <%= f.text_field "birth_#{birth_desc}"%>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Address</legend>

      <%= f.label :address, "Street Address" %>
      <%= f.text_field :address %>

      <%= f.label :city, "City" %>
      <%= f.text_field :city %>

      <%= f.label :state, "State" %>
      <%= f.text_field :state %>

      <%= f.label :zipcode, "Zipcode" %>
      <%= f.text_field :zipcode %>
    </fieldset>


    <%= f.submit "Update" %>
  <% end %>
</div>
