<h2 class="text-center"><%= t("get_started") %></h2>

<h3>
  <%= link_to t("find_stuff"), map_path %>
</h3>

<h3 class="texts-center">
  <%= t("create_an_account") %><br />
  <span class="sub-text">
    or
    <%= link_to t("sign_in"), new_session_path(:user) %>
  </span>
</h3>

<%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
    <em>(<%= t("characters_minimum", n: @minimum_password_length) %>)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <%= f.submit t("sign_up") %>
<% end %>
